.main_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:1240px;
}

.main_block .housing-info {
    background-color:#ffdc0000;
    display: flex;
    margin-top: 30px;
    width:100%;
}

.housing-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
}

.housing-left {
    display: flex;
    flex-direction: column;
}

.housing-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.housing-right p {
    color:rgba(255, 96, 96, 1);
}

.housing-details {
    display:flex;
    flex-direction:column;
    width:auto;
}

.housing-details h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    color: rgba(255, 96, 96, 1);
    height:51px;
    margin:0;
}

.housing-info .housing-details p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color:black;
    margin:0;
}

.housing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom:24px;
    width:auto;
}

.housing-tags span {
    background: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 3px 40px 2px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

.housing-host {
    display: flex;
    align-items: center;
    gap: 10px;
}

.housing-host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.housing-rating {
    display:flex;
    justify-content:flex-end;
    margin-top: 21px;
    width: 30px;
    height: 30px;
}

.fa-star.active {
    color: #ff6060;
}

.fa-star.inactive {
    color: #e3e3e3;
}

.collapse_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 76px;
    margin-bottom:50px;
}