.home {
  margin:0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Conteneur gris */
.box_card {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  margin:43px 100px 50px 100px;
}

/* Desktop par défaut */
@media (max-width: 1024px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 375px) {

  .home{
    width:100%;
  }
  
  .box_card { 
    background:none;
    padding:0;
    margin:22px 0 0 0;
  }
  
  .cards {
    display:grid;
    grid-template-columns:repeat(1,1fr);  
    gap:20px;
    padding:0px 20px 27px 20px;
    
  }
}