.footer {
    width:1440px;
}

.banner2 {
    background-image: url("../../images/banner2.svg");
    background-position: center;
    width: 1240px;
    height: 223px;
    margin-bottom:38px;
    border-radius: 25px;
    mix-blend-mode: Darken;
}

.main_box {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.about {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 1440px;
    flex-direction: column;
}

.header {
    padding-top:40px;
    padding-bottom:38px;
}