.home {
  margin:0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Conteneur gris */
.box_card {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  margin:43px 100px 50px 100px;
}
