.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-left:0px;
  height:209px;
}

.footer img {
  padding-bottom:28.56px;
  padding-top:66px;
  height: 39.44px;
}

.footer p {
  margin:0;
  padding-bottom:29px;
}

/* Responsive */
@media (max-width: 375px) {
  .footer {
        width: 100%;
        align-items: center;
    margin: auto;
  }

  .footer p {
    width:40%;
    padding:10px 105px 0px 105px;
    
}
  .footer img {
    height:25%;
    padding:66px 100px 0px 100px;
  }
  
}