.banner {
    position: relative;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/images/partout.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    margin-right:100px;
}

/* overlay sombre */
.banner::before {
    opacity: 60%;
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(black)
}

/* texte */
.banner h1 {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 143%;
    letter-spacing: 0%;
    vertical-align: bottom;
    margin:0;
}

/* Responsive */
@media (max-width: 375px) {
    
    .banner {
        width: 90%;
        position: relative;
        height: 111px;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-width: 1px;
        margin:auto;
        margin-left:20px;
        margin-right:20px;
    }
    
    .banner h1 { 
    position: relative;
    display:flex;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
    vertical-align: bottom;
    padding-right:94px;
    padding-left:16px;
    padding-top:31px;    
    padding-bottom:32px;
    }
}