.MainError .error {
    display:flex;
    justify-content:center;
    margin:0;
    padding:0;
    height:263px;
}
.MainError .error a {
    flex-direction:row;
    justify-content:center;
}

.MainError .error h1 {
    display:flex;
    font-size:288px;
    color: rgba(255, 96, 96, 1);
    margin:0;
    padding:0;
    justify-content:center;
}

.MainError .errorpage{
    display:flex;
    justify-content: center;
    margin:139px 0 139px 0 ;
}

.MainError .errorpage h2{
    color: rgba(255, 96, 96, 1);
    display:flex;
    font-size:36px;
    margin:0;
    justify-content:center;
    font-weight:500;
}

.MainError a {
    display:flex;
    font-size:18px;
    justify-content: center;
    padding-bottom:139px;
    color:black;
}

.footer {
    width:auto;
    margin:auto;
}

.header {
    display:flex;
}

.MainError{
    display:flex;
    width:1440px;
    margin:auto;
    flex-direction: column;
}

@media (max-width: 375px) {
    .MainError {
        width:100%;
    }
    .MainError a {
        padding-bottom:113px;
    }
    .MainError .error {
        display:flex;
        height:99px;
        margin:85px 88.5px 113px 88.5px;
    }
    .MainError .error h1 {
        height:99px;
        font-size:96px;
    }
    .MainError .errorpage {
        display:flex;
        margin:0px 57.5px 113px 57.5px;
        
    }
    .MainError .errorpage h2 {
        font-size:18px;
        text-align:center;
    }
}